---
- name: Assert that GOPATH is given
  assert:
    that:
      - golang_gopath is defined
      - golang_gopath|ternary(golang_gopath, "")|length > 0
    fail_msg: "'golang_gopath' is not properly configured."
    success_msg: "GOPATH is '{{ golang_gopath }}'"

- name: Assert that the compatibility of golang version and Singularity version
  assert:
    that: |
      (singularity_version is version('3.5', '<') and golang_version is version('1.13', '<')) or 
      (singularity_version is version('3.5', '>=') and golang_version is version('1.13', '>='))
    fail_msg: "Singularity {{ singularity_version }} is not compatible with golang {{ golang_version }}."
    success_msg: "Go mod is {{ golang_version is version('1.13', '>=') | ternary('enabled', 'disabled') }}."

- name: Gather os specific variables
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}-{{ ansible_distribution_major_version | int }}.yml"
    - "{{ ansible_distribution }}.yml"
    - "{{ ansible_os_family }}.yml"
    - "default.yml"
  tags: vars

- name: singularity | Uninstall singularity
  package:
    state: absent
    name: singularity

- name: singularity | install software base
  package:
    state: present
    name: "{{ singularity_software_base }}"
  register: _install_result
  until: _install_result is success
  retries: 10
  delay: 2

- include_tasks: "install_dep.yml"
  when: singularity_version is version('3.5', '<')

- name: singularity | create directory for singularity
  file:
    path: "{{ singularity_repo_path | dirname }}"
    recurse: yes

- name: singularity | clone the Singularity repository
  git:
    repo: https://github.com/sylabs/singularity.git
    version: "v{{ singularity_version }}"
    dest: "{{ singularity_repo_path }}"

- name: singularity | check singularity installed version
  command: 'bash -c "singularity --version | grep \"{{ singularity_version }}\""'
  register: singularity_installed_version
  changed_when: False
  failed_when: False

- name: singularity | compile the Singularity binary | mconfig
  command: ./mconfig
  args:
    chdir: "{{ singularity_repo_path }}"
  environment:
    PATH: '{{ golang_install_dir }}/bin:{{ ansible_env.PATH }}'
    GOROOT: '{{ golang_install_dir }}'
    GOPATH: '{{ golang_gopath }}'
  when:
    - not ansible_check_mode
    - singularity_installed_version.rc == 1

- name: singularity | compile the Singularity binary | make
  make:
    chdir: "{{ singularity_repo_path }}/builddir"
  environment:
    PATH: '{{ golang_install_dir }}/bin:{{ ansible_env.PATH }}'
    GOROOT: '{{ golang_install_dir }}'
    GOPATH: '{{ golang_gopath }}'
  when:
    - not ansible_check_mode
    - singularity_installed_version.rc == 1

- name: singularity | compile the Singularity binary | make install
  make:
    target: install
    chdir: "{{ singularity_repo_path }}/builddir"
  environment:
    PATH: '{{ golang_install_dir }}/bin:{{ ansible_env.PATH }}'
    GOROOT: '{{ golang_install_dir }}'
    GOPATH: '{{ golang_gopath }}'
  when:
    - not ansible_check_mode
    - singularity_installed_version.rc == 1

- name: singularity | check singularity installed version
  command: 'bash -c "singularity --version | grep \"{{ singularity_version }}\""'
  register: singularity_installed_version
  changed_when: False
  failed_when: False

- name: singularity | config bind bind_path
  lineinfile:
    path: "{{ singularity_conf_path }}"
    line: 'bind path = {{ item }}'
    create: yes
    backup: yes
  with_items: "{{ singularity_bind_paths }}"
